.message-page{
    .header{
        line-height: 38px;
        text-align: center;
    }
    .send-message-area{
        display: flex;
        padding: 5px 10px;
    }
    .current-message{
        flex: 1;
        margin-right: 10px;
    }
    .send-button{
        width: auto;
    }
}